<form action="/productos" method="post">
    <!-- Name input -->
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailhelp" required />
    </div>
    <!-- Price input -->
    <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio" aria-describedby="emailhelp" required />
    </div>
    <!-- Link input -->
    <div class="mb-3">
        <label for="imagen" class="form-label">URL</label>
        <input type="text" class="form-control" id="imagen" name="imagen" aria-describedby="emailhelp" required />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>