form(action="/productos" method="post")
        p
            label(for="nombre") Nombre:
                input(type='text', name='nombre')
        p
            label(for="precio") Precio:
                input(type='text', name='precio')
        p
            label(for="imagen") Imagen:
                input(type='text', name='imagen')
        input(type='submit', value='Submit')