
<% if (productos.length>0){ %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
                <tr>
                    <th scope="row"><%= producto.id %></th>
                    <td><%= producto.nombre %></td>
                    <td><%= producto.precio %></td>
                    <td>
                        <img src=<%= producto.imagen %> alt="img" width="50">
                    </td>
                </tr>
            <% }) %>
            
        </tbody>
<% } else { %>
    <h2>No hay productos</h2>
<% } %>






                    